<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= docTitle %></title>
  </head>
  <body>
    <%- include('./layouts/header.ejs') %> <% data.map(el=>{ %>
    <div>
      <span><%= el.title %></span>
      <span><%= el.price %></span>
      <form action="/edit/<%=el._id%>" method="get">
        <button>edit</button>
      </form>

      <form action="/del" method="post">
        <button>delete</button>
        <input type="hidden" name="id" value="<%=el._id%>" />
      </form>
    </div>
    <% }) %>
  </body>
</html>
