<%- include('./layouts/head.ejs') %>
  <body>
    <%- include('./layouts/header.ejs') %>
    <form action="/edit" method="post" class="form">
      <input type="text" name="title" value="<%=data.title%>" />
      <input type="number" name="price" value="<%=data.price%>" />
      <input type="hidden" name="id" value="<%=data._id%>" />
      <button>edit</button>
    </form>
  </body>
</html>
