<%- include('./layouts/head.ejs') %>
  <body>
    <%- include('./layouts/header.ejs') %> 
    <div class="container">
      <% if(data.length === 0 ){ %>
<h1>No products</h1>
     <% }%>
      <% data.map(el=>{ %>
        <div class="product">
          <img src="<%=el.image%>" alt="img of product">
          <h2><%= el.title %></h2>
          <h4>price : <%= el.price %>/-</h4>
          <p><%=el.discription%></p>
          <div class="cta">
           <form action="/<%=el._id%>" method="get">
            <button>view</button>
           </form>
            <button>addto cart</button>
          </div>
        </div>
        <% }) %>
        
    </div>
  </body>
</html>
