<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <%- include('./includes/navBar.ejs') %>
    <div class="full-container">
      <h1><%= data.title %></h1>
      <p><%= data.discription %></p>
      <h4><%= data.price %></h4>
    </div>
  </body>
</html>
