<%- include('./layouts/head.ejs') %>
  <body>
    <%- include('./layouts/header.ejs') %> <div class="container">
      <% data.map(el=>{ %>
        <div class="product">
         
            <img src="<%=el.image%>" alt="img of product">
            <h2><%= el.title %></h2>
            <h4>price : <%= el.price %>/-</h4>
            <p><%=el.discription%></p>
          
         <div class="cta">
          <form action="/edit/<%=el._id%>" method="get">
            <button>edit</button>
          </form>
          <form action="/del" method="post">
            <button>delete</button>
            <input type="hidden" name="id" value="<%=el._id%>" />
          </form>
         </div>
        </div>
        <% }) %>
    </div>
  </body>
</html>
